@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Do Hyeon', sans-serif;
}

table, td {
  border: 1px solid #000;
  text-align: center;
  border-collapse: collapse;
  width: 700px;
  height: 60px;
  margin: 100px auto;
  font-size: 20px;
  color: #2C3A47;
}

.btn {
  border: 1px solid #000;
  width: 30%;
  display: inline-block;
  text-align: center;
  height:100px;
  line-height: 100px;
  font-size: 25px;
  color: #636e72;
  background-color: #ffeaa7;
}

.btn:hover {
  color: #ff4d4d;
}

.selected {
  background-color: #fdcb6e;
}